<app-hijo (paraEmitir)="recibirObjeto($event)" (alPadre)="recibirObjeto2($event)"></app-hijo>
<div class="contenido">
  <h2>Datos Personales</h2>
  <p><b>Nombre: </b>{{ personaPadre.nombre }}</p>
  <p><b>Apellidos: </b>{{ personaPadre.apellidos }}</p>
  <p><b>Edad:</b>{{ personaPadre.edad }}</p>
  <p><b>Sexo:</b>{{ personaPadre.sexo }}</p>
  <p><b>Estado:</b>{{ personaPadre.estado }}</p>
  <h3>{{personaPadre.mensaje}}</h3>
</div>

<div class="contenido">
  <h2>Caracteristicas de auto </h2>
  <p><b>Marca: </b>{{ figuraPadre.marca }}</p>
  <p><b>Año: </b>{{ figuraPadre.anio }}</p>
  <p><b>Modelo: </b>{{ figuraPadre.modelo }}</p>
  <p><b>Color: </b>{{ figuraPadre.color }}</p>
  <h3>{{figuraPadre.mensaje}}</h3>
</div>
